
<div class="text-center">
  <h2><%= @cocktail.name %></h2>
</div>

 <div class=" ingredient text-center">
  <% @cocktail.doses.each do |dose| %>
    <%= dose.ingredient.name %>: <%= dose.description %> <%= link_to "", cocktail_dose_path(@cocktail, dose), method: "delete", data: { confirm: "Are you sure ?" }, class:"fa fa-trash brand-success" %>
  <% end %>
 </div>

<%= render "doses/new", cocktail: @cocktail, dose: @dose, ingredients: @ingredients %>



