
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= simple_form_for [cocktail, dose] do |f| %>
        <%= f.error_notification %>
        <% if @dose.errors.any? %>
            <%= @dose.errors.full_messages.join(" ") %>
        <% end %>

        <%= f.association :ingredient %>
        <%= f.input :description %>
        <%= f.button :submit, "Add an ingredient", class: "btn-block btn-success" %>
      <% end %>
    </div>
  </div>
</div>
